.LogoStyle{
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    font-size: 55px;
    color: tomato;
}
.LogoStyle:hover{
    color: #31D2F2;
    transform: inherit;
    transition-duration: 2s;
}